# NVIDIA GeForce RTX 3080 Ti 使用下面命令
# pip3 install torch==1.8.1+cu111 torchvision==0.9.1+cu111 torchaudio==0.8.1 -f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1
jieba==0.42.1
tqdm==4.65.0
tensorboardX==2.6
scikit-learn==1.2.2
onnxruntime==1.14.1
fastapi==0.95.1
pydantic==1.10.7
uvicorn==0.22.0